body {
    margin: 0;
    font-size: 1.1em;
    background-color: rgb(186, 218, 193);
    font-family: Verdana, sans-serif;

}


#container {
    width: 90%;
    margin: 0 auto;

}


#main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    
}


h1 {
    padding-left: 2vw;
    color: rgb(50, 58, 48);
    font-weight: 400;
    font-size: 1.7em;

}


#main div {
    flex-basis: 15%;
    max-height: 100vh;
    box-sizing: border-box;
    margin: 2vw;
    background-color: rgb(34, 172, 214);
    border-radius: 6px;

}


img {
    max-width: 100%;
    
}


#main div p {
    background-color: rgb(236, 236, 236);
    color: rgb(50, 58, 48);
    text-align: center;
    margin: 0 auto; 
    border-radius: 0 0 6px 6px;
    padding: 5px;
    
}


p {
    padding: 0 2vw 0 2vw;

}


@media screen and (max-width: 1024px) {
    body {
        font-size: 0.9em;
    }
    #main div {
        flex-basis: 15%;
    }
    
}

@media screen and (max-width: 768px) {
    body {
        font-size: 0.8em;
    }
    #main div {
        flex-basis: 25%;
        
    }
    
}

@media screen and (max-width: 414px) {
    body {
        font-size: 0.7em;
    }
    #main div {
        flex-basis: 100%;
        margin-bottom: 10%;
       
    }

}

